/*body {
	background: blue;
}*/

button {
	margin: 1%;
}

#animals {
	float: left;
	height: auto;
	width: 70%;
	/*border: 1px;*/
}

#animalButtons {
	float: left;
	height: auto;
	width: 70%;
	/*border: 1px;*/
}

#animal-form {
	float: right;
	margin: 2%;
	width: 20%;
}

img {
	margin: 2%;
}

.callButton {

}