/*body {
	background: blue;
}*/

button {
	margin: 1%;
}

#animals {

}

#animalButtons {
	float: left;
	height: auto;
	width: 70%;
	/*border: 1px;*/
}

#animal-form {
	float: right;
	margin-right: 4%;
	width: 20%;
	/*font-size: 40px;*/
}

img {
	margin: 2%;
}